<ion-content mode="ios" padding="true">
  <div class="login-page">
    <div class="logo">
      <img src="assets/imgs/logo-white.png" />
    </div>
    <p class="title">
      Welcome to the IFA
    </p>
    <p class="text">
      Please sign into your account to continue:
    </p>
    <ion-card>
      <ion-card-content>
        <form>
          <div class="form-label-group">
            <label class="form-label">
              Username or Email Address:
            </label>
            <input class="form-input form-control" type="text" type="name"
              required />
          </div>
          <div class="form-label-group">
            <label class="form-label">
              Password:
            </label>
            <input class="form-input form-control" type="password"
              type="password"
              required />
          </div>
          <button class="btn btn-login" routerLink="/home">LOG IN</button>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="text-center">
      <a href="javascript:;" class="forgot-text" routerLink="/forgot">
        Forgot your password?
      </a>
    </div>

    <div class="out-bottom">
      <div class="text-center">
        <a href="javascript:;" class="forgot-text">
          Don't have an account?
        </a>
        <div>
          <button class="btn btn-subscriber">BECOME A SUBSCRIBER</button>
        </div>
      </div>
    </div>
  </div>


</ion-content>
