.profile-setting {
  .title {
    font-size: 18px;
    font-weight: 500;
  }

  ion-card {
    margin: 0px;

    ion-card-content {
      padding: 12px 8px 12px 8px;

      .card-title {
        font-size: 16px;
      }
      .avatar-img{
        height: 60px;
        width: 60px;
      }
      .bg-img{
        width: 100%;
        height: 60px;
        border-radius: 10px;
      }

    }
  }

  .form-label-group {

    .custom-select {
      // color: #4e5154;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-size: 13px;
      height: 36px;
    }

    .custom-item {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-size: 14px;
    }

    .custom-checkbox {
      ion-checkbox {
        margin: 0px 10px 0 0 !important;
      }

      ion-label {
        font-size: 10px;

        a {
          color: black;
          text-decoration: solid;
          cursor: pointer;
        }
      }
    }

  }
  .btn-filter-active {
    border-color: #d1720d !important;
    background-color: #f18c20 !important;
    color: #fff;
    outline: none;
    min-height: 32px;
    font-size: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;

    &:hover {
      background-color: #d1720d
    }

    ion-icon {
      font-size: 20px;
    }

    .btn-text {
      font-size: 10px;
      padding-top: 4px;
    }
  }

  .btn-filter {

    // border: 1px solid #999999;
    background-color: transparent;
    color: #999999;
    padding: 10px;
    align-items: center;
    outline: none;
    min-height: 32px;
    font-size: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;

    ion-icon {
      font-size: 20px;
    }

    .btn-text {
      font-size: 10px;
      padding-top: 4px;
    }
  }

}
