ion-card {
  margin: 0px;

  ion-card-header {
    padding: 8px;

    .bg-group {
      padding-bottom: 5px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }
    }

    ion-card-title {
      font-size: 20px;
      cursor: pointer;
    }
  }

  ion-card-content {
    padding: 0px 8px 8px 8px;
    ion-icon{
      font-size: 18px;
      width: 20px;
    }
    ion-label{
      font-size: 13px;
      padding-left: 6px;
      white-space: pre-wrap;
    }

  }
}

.text {
  font-size: 16px;
  font-weight: 500;
}
