.store-create {
  .title {
    font-size: 18px;
    font-weight: 500;
  }

  ion-card {
    margin: 0px;

    ion-card-content {
      padding: 12px 8px 12px 8px;

    }
  }

  .form-label-group {

    .custom-select {
      // color: #4e5154;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-size: 13px;
      height: 36px;
    }

    .custom-item {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-size: 14px;
    }

  }

  .custom-checkbox {
    ion-checkbox {
      margin: 0px 10px 0 0 !important;
    }

    ion-label {
      font-size: 10px;

      a {
        color: black;
        text-decoration: solid;
        cursor: pointer;
      }
    }
  }

}
