.resource{
  .title {
    font-size: 18px;
    font-weight: 500;
  }

  .search-icon {
    position: absolute;
    // width: 26px;
    // height: 26px;
    margin-left: 7px;
    margin-top: 8px;
    font-size: 20px;
  }

  .btn-filter-active {
    border-color: #d1720d !important;
    background-color: #f18c20 !important;
    color: #fff;
    outline: none;
    height: 32px;
    font-size: 10px;

    &:hover {
      background-color: #d1720d
    }
  }

  .btn-filter {
    border: 1px solid #999999;
    background-color: transparent;
    color: #999999;
    display: inline-flex;
    padding: 10px;
    align-items: center;
    outline: none;
    height: 32px;
    font-size: 10px;
  }

  ion-card {
    margin: 0px;

    ion-card-header {
      padding: 8px;

      ion-card-title {
        font-size: 14px;
        cursor: pointer;
      }
    }

    ion-card-content {
      padding: 0px 8px 8px 8px;
      img{
        width: 40px;
        height: 50px;
        margin-right: 10px;
      }
      p{
        font-size: 15px;
        font-weight: 500;
        color: black;
      }

      .card-text {
        font-size: 11px;
      }

      .btn-download {
        border-color: #707070 !important;
        background-color: #707070 !important;
        color: #fff;
        outline: none;
        font-size: 10px;
        padding: 4px 8px;

        &:hover {
          background-color: #707070;
        }
      }
    }
  }

}
