
<ion-content mode="ios" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div>
          <img src="./assets/imgs/avatar.png" class="post-input-img" />
          <input class="post-input" type="text" placeholder="Post a message to your network"/>
          <img src="./assets/imgs/search-button.png" class="search-input-img" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card mode="ios">
          <img src="./assets/imgs/card-bg.png" />
          <ion-card-header>
            <div class="ion-card-header">
              <div class="card-header-left">
                <img src="assets/imgs/card-logo.png" />
                <ion-label class="ion-text">
                  <h5>IFA Head Office</h5>
                  <p>Association Specailist</p>
                </ion-label>
              </div>
              <div class="card-header-right">
                <ion-label>
                  <p>
                    Posted: 30min ago
                  </p>
                </ion-label>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <h5 class="ion-content-text">
              FACTSHEET: Improving ventilation in indoor workplaces
              <br>
              Ensuring heating, ventilation and air conditioning (HVAC) systems
              are well-maintained and operating properly is
              important for indoor workplaces to manage the risk of COVID-19
              transmission.
              <br>
              This includes any risks associated with the HVAC system being
              restarted after a period of shutdown.
              <br>
              Visit the Resources tab to download the Factsheet.
              <br>
              Source: SafeWork Australia | 18 February 2021
            </h5>
            <br />
            <p>
              #governance #assocaitionhelp #executive-guides
            </p>
            <div class="card-footer">
              <ion-buttons>
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label> Like</ion-label>
              </ion-buttons>
              <ion-buttons>
                <ion-icon name="chatbox-outline"></ion-icon>
                <ion-label> Comments</ion-label>
              </ion-buttons>
              <ion-buttons>
                <ion-icon name="share-social-outline"></ion-icon>
                <ion-label> Share</ion-label>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios">
          <img src="./assets/imgs/card-bg.png" />
          <ion-card-header>
            <div class="ion-card-header">
              <div class="card-header-left">
                <img src="assets/imgs/card-logo.png" />
                <ion-label class="ion-text">
                  <h5>IFA Head Office</h5>
                  <p>Association Specailist</p>
                </ion-label>
              </div>
              <div class="card-header-right">
                <ion-label>
                  <p>
                    Posted: 30min ago
                  </p>
                </ion-label>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <h5 class="ion-content-text">
              FACTSHEET: Improving ventilation in indoor workplaces
              <br>
              Ensuring heating, ventilation and air conditioning (HVAC) systems
              are well-maintained and operating properly is
              important for indoor workplaces to manage the risk of COVID-19
              transmission.
              <br>
              This includes any risks associated with the HVAC system being
              restarted after a period of shutdown.
              <br>
              Visit the Resources tab to download the Factsheet.
              <br>
              Source: SafeWork Australia | 18 February 2021
            </h5>
            <br />
            <p>
              #governance #assocaitionhelp #executive-guides
            </p>
            <div class="card-footer">
              <ion-buttons>
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label> Like</ion-label>
              </ion-buttons>
              <ion-buttons>
                <ion-icon name="chatbox-outline"></ion-icon>
                <ion-label> Comments</ion-label>
              </ion-buttons>
              <ion-buttons>
                <ion-icon name="share-social-outline"></ion-icon>
                <ion-label> Share</ion-label>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
