

.post-input-img {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 5px;
  margin-top: 5px;
}

.search-input-img {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 10px;
  margin-top: -31px;
  cursor: pointer;
}

ion-card {
  margin: 0px;

  ion-card-header {
    padding: 9px;

    .ion-card-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4px;
      border-bottom: 1px solid #ededed !important;

      .card-header-left {
        display: flex;

        img {
          width: 30px;
          height: 30px;
          margin-right: 6px;
          border-radius: 50%;
          box-shadow: rgb(0 0 0 / 25%) 0px 4px 16px;
        }

        .ion-text {
          font-size: 12px;

          h5 {
            font-size: 12px;
          }

          p {
            font-size: 11px;
          }
        }
      }

      .card-header-right {
        ion-label {
          p {
            font-size: 11px;
            text-align: right;
          }
        }
      }
    }
  }

  ion-card-content {
    padding: 0px 9px 9px 9px;

    .ion-content-text {
      font-size: 12px;
    }

    p {
      font-size: 11px;
    }

    .card-footer {
      // display: flex;
      display: flex;
      justify-content: space-between;

      ion-buttons {
        cursor: pointer;
        font-size: 12px;

        ion-label {
          padding-left: 4px;
        }
      }
    }
  }
}

.footer {

  background: linear-gradient(118deg, #f18c20, #f1b420);

  p {
    font-size: 6px;
    color: white;
    vertical-align: middle;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .social-link-group {
    display: flex;
    align-items: center;

    .social-link {
      width: 22px;
      /* height: 20px; */
      padding: 0 1px;
    }
  }

}
