<ion-content mode="ios" fullscreen class="store">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="d-flex justify-content-space-between align-items-center">
          <div class="title">Store</div>
          <div>
            <button class="btn btn-standard" routerLink="/home/group-create">NEW PRODUCT</button>
            <button class="btn btn-standard-back m-l-3" routerLink="/home/member">
              <ion-icon name="arrow-back-outline"></ion-icon> Back
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div>
          <ion-icon name="search-outline" class="search-icon"></ion-icon>
          <input class="post-input" type="text" placeholder="Search for Products" />
          <img src="./assets/imgs/search-button.png" class="search-input-img" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="d-flex justify-content-space-between">
          <button class="btn btn-filter-active">SHOW ALL</button>
          <button class="btn btn-filter">LATEST</button>
          <button class="btn btn-filter">POPULAR</button>
          <button class="btn btn-filter">
            TOPICS <ion-icon name="chevron-down-outline"></ion-icon></button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let card of groups">
        <ion-card mode="ios">
          <img src="{{card.img}}" />
          <ion-card-header>
            <ion-card-title>{{card.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="d-flex justify-content-space-between align-items-center">
              <div class="card-text">${{card.number}}</div>
              <button class="btn btn-join" (click)="goItem()">
                BUY NOW
              </button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
