.title {
  font-size: 18px;
  font-weight: 500;
}

.text {
  font-size: 16px;
  font-weight: 500;
}

ion-card {
  margin: 0px;

  ion-card-content {
    padding: 12px 8px 12px 8px;

    .item {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom: 1px solid #ededed ;
      align-items: center;
      &:last-child{
        border: none;
        padding-bottom: 0px;
      }
      .card-left {
        display: flex;

        img {
          width: 30px;
          height: 30px;
          margin-right: 6px;
          border-radius: 50%;
        }

        .ion-text {
          font-size: 12px;

          h5 {
            font-size: 12px;
          }

          p {
            font-size: 11px;
          }
        }
      }

      .card-right {
        ion-label {
          p {
            font-size: 11px;
            text-align: right;
          }
        }
      }
    }


  }
}

.form-label-group {

  .custom-select {
    // color: #4e5154;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 13px;
    height: 36px;
  }

  .custom-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
  }

}

.custom-checkbox {
  ion-checkbox {
    margin: 0px 10px 0 0 !important;
  }

  ion-label {
    font-size: 10px;

    a {
      color: black;
      text-decoration: solid;
      cursor: pointer;
    }
  }
}
