.business {
  .title {
    font-size: 18px;
    font-weight: 500;
  }

  .search-icon {
    position: absolute;
    // width: 26px;
    // height: 26px;
    margin-left: 7px;
    margin-top: 8px;
    font-size: 20px;
  }

  .btn-filter-active {
    border-color: #d1720d !important;
    background-color: #f18c20 !important;
    color: #fff;
    outline: none;
    height: 32px;
    font-size: 10px;

    &:hover {
      background-color: #d1720d
    }
  }

  .btn-filter {
    border: 1px solid #999999;
    background-color: transparent;
    color: #999999;
    display: inline-flex;
    padding: 10px;
    align-items: center;
    outline: none;
    height: 32px;
    font-size: 10px;
  }

  ion-card {
    margin: 0px;
    .img{
      min-height: 50px;
    }
    .card-item {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      border-radius: 25px;
      box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    }

    ion-card-header {
      padding: 8px;

      ion-card-title {
        font-size: 14px;
        cursor: pointer;
      }
    }

    ion-card-content {
      padding: 0px 8px 8px 8px;

      .card-text {
        font-size: 11px;
      }

      .btn-join {
        border-color: #d1720d !important;
        background-color: #f18c20 !important;
        color: #fff;
        outline: none;
        font-size: 10px;
        padding: 6px 8px;

        &:hover {
          background-color: #d1720d;
        }
      }
      .btn-view {
        border-color: #999999 !important;
        border: 1px solid #999999;
        background-color: transparent;
        color: #999999;
        outline: none;
        font-size: 10px;
        padding: 6px 8px;

        &:hover {
          background-color: #999999;
          color: white;
        }

        ion-icon {
          font-size: 10px;
        }
      }
    }
  }

}
