.post-input {
  display: block;
  width: 100%;
  //  height: calc(1.1em + 1rem + 1px);
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #4e5154;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid #dadada;
  color: #606060;
  outline: none;
  padding: 7px 40px 7px 36px;

  &:focus {
    border: 1px solid #f18c20;
  }
}

.post-input-img {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 5px;
  margin-top: 5px;
}

.search-input-img {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 10px;
  margin-top: -31px;
  cursor: pointer;
}

ion-card {
  margin: 0px;

  ion-card-header {
    padding: 9px;

    .ion-card-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4px;
      border-bottom: 1px solid #ededed !important;
      .card-header-left {
        display: flex;

        img {
          width: 30px;
          height: 30px;
          margin-right: 6px;
          border-radius: 50%;
        }

        .ion-text {
          font-size: 12px;

          h5 {
            font-size: 12px;
          }

          p {
            font-size: 11px;
          }
        }
      }

      .card-header-right {
        ion-label {
          p {
            font-size: 11px;
            text-align: right;
          }
        }
      }
    }
  }

  ion-card-content {
    padding: 0px 9px 9px 9px;
    .ion-content-text{
      font-size: 12px;
    }
    p {
      font-size: 11px;
    }
    .card-footer{
      // display: flex;
          display: flex;
          justify-content: space-between;
          ion-buttons{
            cursor: pointer;
            font-size: 12px;
            ion-label{
              padding-left: 4px;
            }
          }
    }
  }
}
.footer{

  background: linear-gradient(118deg, #f18c20, #f1b420);
  p{
    font-size: 6px;
    color: white;
    vertical-align: middle;
    a{
      text-decoration: none;
      color: white;
    }
  }
  .social-link-group{
    display: flex;
    align-items: center;
  .social-link {
    width: 22px;
    /* height: 20px; */
    padding: 0 1px;
  }
  }

}
