/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: Montserrat, Helvetica, Arial, serif;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #626262;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0 solid transparent;
  padding: .6rem;
  font-size: .8rem;
  line-height: 1;
  border-radius: .4285rem;
  -webkit-transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.btn-back {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  outline: none;

}

.btn-standard {
  border-color: #d1720d !important;
  background-color: #f18c20 !important;
  color: #fff;
  outline: none;
  height: 32px;
  font-size: 11px;
text-transform: uppercase;
  &:hover {
    background-color: #d1720d
  }
}

.btn-standard-back {
  border: 1px solid #999999;
  background-color: transparent;
  color: #999999;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  outline: none;
  height: 32px;
  font-size: 11px;
  text-transform: uppercase;

}

.btn-standard-setting{
  border: 1px solid #707070;
  background-color: #707070;
  color: white;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  outline: none;
  height: 32px;
  font-size: 11px;
  text-transform: uppercase;
    ion-icon {
      padding-left: 6px;
    }
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.m-l-3 {
  margin-left: 3px;
}

.post-input {
  display: block;
  width: 100%;
  //  height: calc(1.1em + 1rem + 1px);
  // padding: 0.7rem;
  // font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #4e5154;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid #dadada;
  color: #606060;
  outline: none;
  padding: 10px 40px 10px 32px;
  font-size: 12px;
  height: 36px;

  &:focus {
    border: 1px solid #f18c20;
  }
}

.post-input-img {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 5px;
  margin-top: 5px;
}

.search-input-img {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 10px;
  margin-top: -31px;
  cursor: pointer;
}

.footer {

  background: linear-gradient(118deg, #f18c20, #f1b420);

  p {
    font-size: 6px;
    color: white;
    vertical-align: middle;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .social-link-group {
    display: flex;
    align-items: center;

    .social-link {
      width: 22px;
      /* height: 20px; */
      padding: 0 1px;
    }
  }

}


.form-label-group {

  position: relative;
  margin-bottom: 10px;

  .form-label {
    font-size: 12px !important;
    color: black;
  }

  .form-input {
    display: block;
    width: 100%;
    height: calc(1.1em + 1rem + 1px);
    padding: 0.7rem;
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1.25;
    color: #4e5154;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #dadada;
    color: #606060;
    outline: none;

    &:focus {
      border: 1px solid #f18c20;
    }
  }

  .form-textarea {
    display: block;
    width: 100%;
    padding: 0.7rem;
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1.25;
    color: #4e5154;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    border: 1px solid #dadada;
    color: #606060;
    outline: none;

    &:focus {
      border: 1px solid #f18c20;
    }
  }
}

.w-100 {
  width: 100%;
}

ion-action-sheet {
  .action-sheet-group {
    button {
      padding: 15px !important;
      height: 40px !important;
      font-size: 16px !important;
      color: black !important;
    }
  }
}

.btn-upload {
  border-color: #979797 !important;
  background-color: #ECECEC !important;
  color: black;
  outline: none;
  height: 32px;
  font-size: 11px;

  &:hover {
    background-color: #979797
  }
}
