.ion-page {

  .custom-toolbar {
    --background: linear-gradient(118deg, #f18c20, #f1b420);
  }

  .white {
    --color: white !important;
    color: white !important;
  }
  .search-icon {
    --color: white !important;
    color: white !important;
    font-size: 20px;
  }
  .notification-icon {
    --color: white !important;
    color: white !important;
    font-size: 20px;
  }

  .logo {
    width: 60px;
  }
  ion-avatar{
    width: 30px;
    height: 30px;
    margin-left: 6px;

  }

}
.item {
  font-size: 14px;
  cursor: pointer;
}
