<ion-menu side="start" content-id="main-content" mode="ios">
  <ion-header>
    <ion-toolbar translucent>
      <ion-list no-lines>
        <ion-item no-lines lines="none">
          <ion-avatar slot="start">
            <img src="assets/imgs/avatar.png" />
          </ion-avatar>
          <ion-label>
            <h3>Stephen Los</h3>
            <p>Edit Profile</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" class="item" *ngFor="let item of menuList" (click)="goLink(item.router)">
        <ion-icon name="{{item.icon}}" slot="start"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header mode="ios">
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button class="white"></ion-menu-button>
        <ion-icon name="search-outline" class="search-icon" (click)="onToggleSearchBar()"></ion-icon>
      </ion-buttons>
      <ion-title>
        <img src="assets/imgs/logo-white.png" class="logo" />
      </ion-title>

      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" class="notification-icon"></ion-icon>
        <ion-avatar>
          <img src="assets/imgs/avatar.png" />
        </ion-avatar>
      </ion-buttons>
      <ion-searchbar *ngIf="searchFlag"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content mode="ios" overflow-scroll = "false">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-footer class="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <p>Copyright 2021 Interior Fitout Association. All Rights Reserved.</p>
          <p>
            <a href="javascript:;">
              Privacy Policy
            </a>|
            <a href="javascript:;">
              Terms of Use | Powered by Trybz
            </a>|
            <a href="javascript:;">
              Powered by Trybz
            </a>
          </p>
        </ion-col>
        <ion-col size="3" class="d-flex">
          <div class="social-link-group">
            <img src="assets/imgs/facebook.png" class="social-link">
            <img src="assets/imgs/twitter.png" class="social-link">
            <img src="assets/imgs/linkedin.png" class="social-link">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</div>
