.profile {
  .btn-standard {
    display: inline-flex;
    align-items: center;

    ion-icon {
      padding-left: 4px;
    }
  }

  ion-card {
    margin: 0px;

    .card-item {
      width: 60px;
      height: 60px;
      margin-top: -36px;
      border-radius: 30px;
      box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    }

    ion-card-header {
      padding: 8px;

      .bg-group {
        padding-bottom: 5px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 5px;
        }
      }

      ion-card-title {
        font-size: 18px;
        cursor: pointer;
        font-weight: 400;
      }

      ion-card-subtitle {
        font-size: 12px;
        cursor: pointer;
        font-weight: 400;
      }

      .ion-card-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        border-bottom: 1px solid #ededed !important;

        .card-header-left {
          display: flex;

          img {
            width: 30px;
            height: 30px;
            margin-right: 6px;
            border-radius: 50%;
          }

          .ion-text {
            font-size: 12px;

            h5 {
              font-size: 12px;
            }

            p {
              font-size: 11px;
            }
          }
        }

        .card-header-right {
          ion-label {
            p {
              font-size: 11px;
              text-align: right;
            }
          }
        }
      }
    }

    ion-card-content {
      padding: 0px 8px 8px 8px;

      .card-text {
        font-size: 11px;
      }

      .btn-join {
        border-color: #d1720d !important;
        background-color: #f18c20 !important;
        color: #fff;
        outline: none;
        font-size: 10px;
        padding: 6px 10px;

        &:hover {
          background-color: #d1720d;
        }
      }

      .ion-content-text {
        font-size: 12px;
      }

      p {
        font-size: 11px;
      }

      .card-footer {
        // display: flex;
        display: flex;
        justify-content: space-between;
        padding-top: 4px;
        border-top: 1px solid #ededed !important;

        ion-buttons {
          cursor: pointer;
          font-size: 12px;

          ion-label {
            padding: 0 4px;
          }
        }
      }
    }
  }


  .btn-filter-active {
    border-color: #d1720d !important;
    background-color: #f18c20 !important;
    color: #fff;
    outline: none;
    min-height: 32px;
    font-size: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;

    &:hover {
      background-color: #d1720d
    }

    ion-icon {
      font-size: 20px;
    }

    .btn-text {
      font-size: 10px;
      padding-top: 4px;
    }
  }

  .btn-filter {

    // border: 1px solid #999999;
    background-color: transparent;
    color: #999999;
    padding: 10px;
    align-items: center;
    outline: none;
    min-height: 32px;
    font-size: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;

    ion-icon {
      font-size: 20px;
    }

    .btn-text {
      font-size: 10px;
      padding-top: 4px;
    }
  }


}
