<ion-content fullscreen mode="ios" class="profile">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="d-flex justify-content-space-between align-items-center">
          <button class="btn btn-standard-back m-l-3" routerLink="/home/member">
            <ion-icon name="arrow-back-outline"></ion-icon> Back
          </button>

          <div>
            <button class="btn btn-standard-setting" routerLink="/home/profile-setting">
              Setting <ion-icon name="settings-outline"></ion-icon>
            </button>
            <button class="btn btn-standard m-l-3">
              FRIEND <ion-icon name="person-add-outline"></ion-icon>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card mode="ios" class="text-center">
          <img src="./assets/imgs/profile-bg.png" />
          <img src="./assets/imgs/avatar.png" class="card-item" />
          <ion-card-header>
            <ion-card-title>
              Stephen Los
            </ion-card-title>
            <ion-card-subtitle>Head of Development at Trybz</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <button class="btn btn-filter-active w-100">
          <ion-icon name="document-text-outline"></ion-icon>
          <div class="btn-text">
            ACTIVITY
          </div>
        </button>
      </ion-col>
      <ion-col size="3">
        <button class="btn btn-filter w-100">
          <ion-icon name="book-outline"></ion-icon>
          <div class="btn-text">
            EVENTS
          </div>
        </button>
      </ion-col>
      <ion-col size="3">
        <button class="btn btn-filter w-100">
          <ion-icon name="people-outline"></ion-icon>
          <div class="btn-text">
            STORE
          </div>
        </button>
      </ion-col>
      <ion-col size="3">
        <button class="btn btn-filter w-100">
          <ion-icon name="videocam-outline"></ion-icon>
          <div class="btn-text">
            VIDEOS
          </div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div>
          <img src="./assets/imgs/avatar.png" class="post-input-img" />
          <input class="post-input" type="text" placeholder="Post to your network" />
          <img src="./assets/imgs/search-button.png" class="search-input-img" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card mode="ios">
          <img src="./assets/imgs/profile-bg.png" />
          <ion-card-header>
            <div class="bg-group">
              <img src="./assets/imgs/profile-bg-item.png">
              <img src="./assets/imgs/profile-bg-item.png" class="m-l-3">
            </div>
            <div class="ion-card-header">
              <div class="card-header-left">
                <img src="assets/imgs/avatar.png" />
                <ion-label class="ion-text">
                  <h5>IFA Head Office</h5>
                  <p>Association Specailist</p>
                </ion-label>
              </div>
              <div class="card-header-right">
                <ion-label>
                  <p>
                    Posted: 30min ago
                  </p>
                </ion-label>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <h5 class="ion-content-text">
              Just a few shots from Freycinet Bay Tasmania at the last Association Leaders Retreat. It was a fantastic
              time away,
              can't wait for Uluru!
            </h5>
            <br />
            <p>
              #leadersretreat #answers
            </p>
            <div class="card-footer">
              <ion-buttons>
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label> Like </ion-label>
                <ion-icon name="thumbs-down-outline"></ion-icon>
              </ion-buttons>
              <ion-buttons>
                <ion-icon name="chatbox-outline"></ion-icon>
                <ion-label> Comments</ion-label>
              </ion-buttons>
              <ion-buttons>
                <ion-icon name="share-social-outline"></ion-icon>
                <ion-label> Share</ion-label>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
